{{template "head" .}}
<body>

  {{template "navbar" .}}

  {{template "intro" .}}

  {{if .Message}}
    {{template "alert" .}}
  {{end}}

  {{if .Books}}
  <div class="container mt-5">
    <table class="table table-striped table-dark table-bordered border-light-subtle table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Title</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{range $i, $b := .Books}}
        <tr>
          <td>{{$i}}</td>
          <td>
            <a href="/books/{{$b.ID}}" class="text-white text-decoration-underline link-light">{{$b.Title}}</a>
          </td>
          <td>
            <a href="/books/update/{{$b.ID}}" class="btn btn-sm btn-outline-primary">Edit</a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}

  {{template "footer" .}}

  {{template "html_end" .}}
