{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom border-secondary">
    <div class="container-fluid">

        <!-- Logo & Brand -->
        <div class="navbar-brand d-flex align-items-center">
        <img src="/static/img/03_navicon.png" alt="BookManager Logo" width="30" height="30" class="me-2">
        <span>BookManager</span>
        </div>

        <!-- Hamburger button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" 
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/books">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/books/list">Library</a></li>
                <li class="nav-item"><a class="nav-link" href="/books/add">Add</a></li>
                <li class="nav-item"><a class="nav-link" href="/books/update/search">Update</a></li>
                <li class="nav-item"><a class="nav-link" href="/books/delete/search">Delete</a></li>
            </ul>

                <li class="nav-item d-lg-none"><a class="nav-link text-danger" href="/logout">LogoutPlaceholder</a></li>
        </div>
        
        <a class="btn btn-outline-danger d-none d-lg-block" href="/logout">Logout</a>
    </div>
</nav>
{{end}}