# Environment
.env
.env.*
!.env.example

# Environment inside internal/config
internal/config/*.env
!internal/config/app.env.example

# SQLite database
*.db

# Binaries
/bin/
*.exe
*.dll

# Logs
*.log

# IDE configs
.vscode/
